importFrom("stats","coef","cov","dnorm","dt","integrate","kmeans","median","pnorm","pt","qnorm","qt","rbeta","rgamma","rmultinom","rnorm","rt","runif","rWishart")
import(flexclust,methods,mvtnorm)
importFrom(matrixStats,rowMaxs)
importFrom(mclust,Mclust)
importFrom(label.switching,dataBased,ecr)
importFrom(ellipse,ellipse)

export(dtp3, dtp4, ptp3, ptp4, qtp3, qtp4, rtp3, rtp4, clusterprobs, dskewt, dmixnorm, dmixskewt, mixnormGibbs, mixskewtGibbs, priornuJS, priornuVW, rskewt, rmixnorm, rmixskewt, normprior, skewtprior)

